@model RestaurantWeb.Models.Meniu

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Meniu</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ingredients)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ingredients)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="Meniu" asp-action="Index" class="btn btn-primary" style="width:150px">Back To List</a>
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}